@model on_e_commerce.data.Tbl_Urun

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>" @Model.UrunAdi " ürününü silmek istiyor musun?</h3>
        <hr>
        <div class="card shadow">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UrunAdi)
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Ürün Adı</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.UrunAdi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Ürün Resmi</label>
                        <div class="col-md-8">
                            <div class="avatar avatar-md">
                                <img src="@Model.UrunResim" alt="..." class="avatar-img rounded-circle">
                                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kategori Adı</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.KategoriId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Oluşturulma Tarihi</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OlusturulmaTarihi, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.OlusturulmaTarihi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Değiştirilme Tarihi</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DegistirilmeTarihi, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.DegistirilmeTarihi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ürün Fiyat</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ürün Açıklama</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Acıklama, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Acıklama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ürün Miktar</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Miktar, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Miktar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ürün Ağırlık</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Agırlık, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Agırlık, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <a href="/AdminUrun/Index/"> <inp type="button" class="btn btn-danger"><span class="fe fe-chevron-left fe-12"></span>Geri Dön</a>
                        <button type="submit" class="btn btn-secondary"><span class="fe fe-trash fe-12 mr-2"></span>Sil</button>
                    </div>
                </div>
            </div>
        </div>
    }
 