@model IEnumerable<on_e_commerce.Models.TblUrun>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürünler</h2>

<p>
    <a href="/AdminUrun/Create/"> <inp type="button" class="btn mb-2 btn-outline-success"><span class="fe fe-filter fe-12 mr-2"></span>Ürün Oluştur</a>

</p>

<div class="card shadow">
    <div class="card-body">
        <div class="toolbar">
            <form class="form">
                <div class="form-row">
                    <div class="form-group col-auto mr-auto">
                        <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref1">
                            <option value="">...</option>
                            <option value="1">12</option>
                            <option value="2" selected="">32</option>
                            <option value="3">64</option>
                            <option value="3">128</option>
                        </select>
                    </div>
                    <div class="form-group col-auto">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                    </div>
                </div>
            </form>
        </div>
        <!-- table -->
        <table class="table table-borderless table-hover" id="dataTable-1">
            <thead>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all2">
                            <label class="custom-control-label" for="all2"></label>
                        </div>
                    </td>
                    <th>Ürün Resmi</th>
                    <th>Ürün Adi</th>
                    <th>Kategori Adi</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Değiştirilme Tarihi</th>
                    <th>Fiyat</th>
                    <th>Açıklama</th>
                    <th>Miktar</th>
                    <th>Ağırlık</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="odd">
                        <td class="shorting_1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@item.UrunId">
                                <label class="custom-control-label" for="@item.UrunId"></label>
                            </div>
                        </td>
                        <td class="shorting_1">
                            <div class="avatar avatar-md">
                                <img src="@item.UrunResim" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </td>
                        <td class="shorting_1">
                            <p class="mb-0 text-muted"><strong>@item.UrunAdi</strong></p>

                        </td>
                        <td class="shorting_1">
                            <p class="mb-0 text-muted">@Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)</p>
                        </td>
                        <td class="shorting_1">
                            <p class="mb-0 text-muted"><a href="#" class="text-muted">@item.OlusturulmaTarihi</a></p>
                        </td>
                        <td class="shorting_1">
                            <p class="mb-0 text-muted"><a href="#" class="text-muted">@item.DegistirilmeTarihi</a></p>
                        </td>
                        <td class="shorting_1">
                            <p class="mb-0 text-muted"><a href="#" class="text-muted">@item.Fiyat TL</a></p>
                        </td>

                        <td class="w-25 shorting_1">
                            @if (item.Acıklama.Length <= 50)
                            {
                                <small class="text-muted">@item.Acıklama <a href="/AdminUrun/Details/@item.UrunId">...(Devam)</a></small>
                            }
                            else
                            {
                                <small class="text-muted"> @Html.Raw(item.Acıklama.Substring(0, 50)) <a href="/AdminUrun/Details/@item.UrunId">...(Devam)</a></small>
                            }

                        </td>
                        <td class="text-muted">@item.Miktar</td>
                        <td class="text-muted">@item.Agırlık</td>
                        <td>
                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item " href="/AdminUrun/Edit/@item.UrunId">Düzenle</a>
                                <a class="dropdown-item" href="/AdminUrun/Delete/@item.UrunId">Sil</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <nav aria-label="Table Paging" class="mb-0 text-muted">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    $('#dataTable-1').DataTable(
        {
            autoWidth: true,
            "lengthMenu": [
                [16, 32, 64, -1],
                [16, 32, 64, "All"]
            ]
        });
</script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>
