@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="wrap-login100 p-t-90 p-b-30">
<span class="login100-form-title p-b-40" style="margin-left:10px; margin-top: -40px;font-family:'Century Gothic';">
                                <a  href="/Home/Index">

                                    <img src="~/home/img/cllogo3.png" />


                                </a>
                            </span>



                            <div class="text-center p-t-55">
                                @if (@TempData["girissonuc"] != null)
                                {
                                <div class="alert alert-danger " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="alert alert-heading">Hata</div>
                                    @TempData["girissonuc"]

                                </div>

                                   
                                }

                                <div class="form-group">
                                    <label class="control-label">GİRİŞ YAP</label>

                                    <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="wrap-input100 form-group validate-input m-b-16" data-validate="Lütfen e-mail adresinizi giriniz: ex@abc.xyz">
                                
                                <input placeholder = "E-mail adresiniz" asp-for="Input.Email" class="form-control input100" />
                               @* <span asp-validation-for="Input.Email" class="text-danger"></span>*@
                                <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 form-group validate-input m-b-20" data-validate="Lütfen şifrenizi giriniz.">
                                <span class="btn-show-pass">
                                    <i class="fa fa fa-eye"></i>
                                </span>
                                <input placeholder = "Lütfen şifrenizi giriniz" asp-for="Input.Password" class="form-control input100" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <span class="focus-input100"></span>
                    </div>
                    <div class=" form-group  m-b-20">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="container-login100-form-btn form-group">
                                <button type="submit"  class="login100-form-btn">
                                    Giriş Yap
                                </button>     
                    </div>
                     <div class="flex-col-c">
                         <div class="p-b-10">
                                <a asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" class="txt3 bo1 hov1">
                                    Şifremi unuttum
                                </a>
                                </div>
                                <span class="txt2 p-b-10">
                                    Hesabınız yok mu?
                                </span>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="txt3 bo1 hov1">
                                    HEMEN KAYIT OL
                                </a>
                    </div>
                </form>

                                </div>
                            </div>

               
                <div class="col-md-6 col-md-offset-2">
          
          
          
            
        </div>
       </div>     






@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
*@










