@model IEnumerable<on_e_commerce.data.Tbl_Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategoriler</h2>

<p>
    <a href="/AdminKategori/Create/"> <inp type="button" class="btn mb-2 btn-outline-success"><span class="fe fe-filter fe-12 mr-2"></span>Kategori Oluştur</a>
   
</p>

    <div class="card shadow">
        <div class="card-body">
            <div class="toolbar">
                <form class="form">
                    <div class="form-row">
                        <div class="form-group col-auto mr-auto">
                            <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref1">
                                <option value="">...</option>
                                <option value="1">12</option>
                                <option value="2" selected="">32</option>
                                <option value="3">64</option>
                                <option value="3">128</option>
                            </select>
                        </div>
                        <div class="form-group col-auto">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-borderless table-hover" id="dataTable-1">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kategori Resmi</th>
                        <th>Kategori Adı</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Değiştirilme Tarihi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@item.KategoriId">
                                <label class="custom-control-label" for="@item.KategoriId"></label>
                            </div>
                        </td>
                        <td>
                            <img src="@item.KategoriResim" alt="@item.KategoriAdi" width="203" height="72">
                        </td>
                        <td>
                            <p class="mb-0 text-muted"><strong>@Html.DisplayFor(modelItem => item.KategoriAdi)</strong></p>

                        </td>

                        <td>
                            <p class="mb-0 text-muted">@Html.DisplayNameFor(model => model.IsActive)</p>
                        </td>
                        <td>
                            <p class="mb-0 text-muted">@Html.DisplayNameFor(model => model.IsDelete)</p>
                        </td>
                        <td class="">
                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item " href="/AdminKategori/Edit/@item.KategoriId">Düzenle</a>
                                <a class="dropdown-item" href="/AdminKategori/Delete/@item.KategoriId">Sil</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Table Paging" class="mb-0 text-muted">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
